Jwt payload is an invalid Base64 or an invalid JSON

My apologies for using an error message as the title, but hopefully this helps reach more people as we have a habit of googling errors when we don't know what they are :P

I've been trying to create a custom authentication provider using the [jwcrypto](https://jwcrypto.readthedocs.io/en/latest/) python lib for issuing JWTs. I've tested them on JWT.io and my public key works (valid signature for the returned JWT).

The whole system runs on [google cloud run](https://cloud.google.com/run) (which at this point in time may be obvious as its the only supported platform, however that may change in the future).

However when I try to send a token through ESPv2, I end up with the following error:

````
grpc._channel._InactiveRpcError: <_InactiveRpcError of RPC that terminated with:
        status = StatusCode.UNAUTHENTICATED
        details = "Jwt payload is an invalid Base64 or an invalid JSON"
        debug_error_string = "{"created":"@1589965852.793650023","description":"Error received from peer ipv4:xxx.xxx.xx.xx:443","file":"src/core/lib/surface/call.cc","file_line":1056,"grpc_message":"Jwt payload is an invalid Base64 or an invalid JSON","grpc_status":16}"
>
````

I went ahead and contacted Google support to which the endpoints specialists recommended I open an issue on github.

This function is used to generate the JWT (it's just a mockup, no actual data is saved or logged, it just generates a JWT).

````
def SignIn(self,
               request: generated_stub_pb2.UsrLoginRegisterRequest,
               context: grpc.ServicerContext) -> None:
        logging.info("Received request: %s", request)
        # Check if the user has a Refresh token and the expired JWT is valid
        # TODO

        ## Get the PRIVATE key
        # Gets the private key from a cloud storage bucket
        csh = login_cloud_storage_helper()
        privateKey = csh.get_private_jwk()
      
        timestamp = str(datetime.timestamp(datetime.now())).split('.')[0]
        # Generate the JWT
        token = jwt.JWT(header={"alg": "ES256",
                                "typ": "JWT"},
                claims={"iss": "fart",      
                        "sub": "I need a weapon", 
                        "aud": "customers",
                        "exp": "{}".format(int(timestamp) + _TOKEN_LIFETIME),
                        "iat": "{}".format(timestamp), 
                })
        token.make_signed_token(privateKey)
        serial_token = token.serialize()

        # Generate the Refresh token
        return generated_stub_pb2.UsrLoginRegisterResponse(
            status=generated_stub_pb2.UsrLoginRegisterStatus.LOGIN_SUCCESSFUL,
            jwt="{}".format(serial_token))
````

Which returns a token encoded in Base64URL format like this:

````
eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9
.
eyJhdWQiOiJjdXN0b21lcnMiLCJleHAiOiIxNTg5OTY4MDI5IiwiaWF0IjoiMTU4OTk2NDQyOSIsImlzcyI6ImZhcnQiLCJzdWIiOiJJIG5lZWQgYSB3ZWFwb24ifQ
.
UwLI3vi5VWKSBNVnrT0QkLsmHKWPGuy0WH9RWxka-mz5Mo9QHuj-RBX7tNmtAbjq91nf9ATt3QgN16zysmNT4Q
````

you can decode it [here](https://jwt.io/) and using this public key, you can see it's signature is valid

````
-----BEGIN PUBLIC KEY-----
MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEygbPj3XrVI5XPXkV9rDjuA/yTYTL
IScN+RrmdRBw4UMyy5Swv1nOt73s8Ld9JCCtHvj16nPSe2LyzGqLUVAHHA==
-----END PUBLIC KEY-----
````
Following the guide google put out [here](https://cloud.google.com/endpoints/docs/grpc/get-started-cloud-run), I created this api_config.yaml file

````
type: google.api.Service
config_version: 3
name: espv2-abcdefg-an.a.run.app
title: ESPv2 test
apis:
    - name: endpoints.custom.package.name.gRPCService
#
#   API Key usage restrictions (there are none, we don't use API keys)
#
usage:
    rules:
    - selector: "*"
      allow_unregistered_calls: true

#
#   Request authentication (any calls to these methods will require auth)
#
authentication:
    providers:
    - id: a-fancy-id
      issuer: fart
      jwks_uri: "https://storage.googleapis.com/public-bucket/jwk-public-key.pem"
      audiences: "customers"
    rules:
    - selector: endpoints.custom.package.name.gRPCService.Signout
      requirements:
      - provider_id: a-fancy-id

backend:
    rules:
        - selector: "*"
          # This is the grpcs link to an already deployed container
          address: grpcs://login-server-test-abcdefg-an.a.run.app
````

The config file works, I can send requests to the sign-in method and I get a token back (i.e. the proxy doesn't require authentication.

However when I try and run the Signout method

````
# This just sends back a status code from a enum and sets the jwt tag to a message
def Signout(self,
                request: generated_stub_pb2.UsrLoginRegisterRequest,
                context: grpc.ServicerContext) -> None:
        return generated_stub_pb2.UsrLoginRegisterResponse(
            status=generated_stub_pb2.UsrLoginRegisterStatus.SIGNOUT_SUCCESSFUL,
            jwt="Signout successful")
````

with the following client code
````
host = "espv2-abcdefg-an.a.run.app"
port = "443"
jwt = "eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJh..."
def run2():
    with open('roots.pem', 'rb') as f:
        creds = grpc.ssl_channel_credentials(f.read())
    
    channel = grpc.secure_channel('{}:{}'.format(host, port), creds)
    
    stub = generated_stub_pb2_grpc.LoginStub(channel)
    
    metadata = []
    metadata.append(('authorization', 'Bearer ' + jwt))
    print(metadata)
    
    response = stub.Signout(generated_stub_pb2.UsrLoginRegisterRequest(
            creds=generated_stub_pb2.UsrCreds(
                    username="Firstname", 
                    password="SecretPassword"
                    )
            ), metadata=metadata
    )
    print(response)
````

I get the dreaded error response.

List of things I've tried

- Test the backend locally (works)
- Test the backend uploaded to google cloud run without authentication (works)
- Test the Signout method with authentication (doesn't work)
- Generate new keys (doesn't change anything)
- Generate new tokens (doesn't change anything)
- I'm aware that endpoints only supports Unary gRPC at the moment, my proto file doesn't use any streaming syntax at all.

I've also got an open [stackoverflow post](https://stackoverflow.com/questions/61726429/how-would-i-setup-a-jwcrypto-token-issuer-for-google-cloud-run-with-grpc) as well.

The google endpoints specialists seemed to have tracked the error to [here](github.com/istio/proxy/blob/master/src/envoy/http/jwt_auth/jwt.h#L57) and since ESPv2 uses Envoy as the proxy, I figured perhaps you guys could help figure out what is causing this authentication error.

Kind regards,

Despicable Bee.



I can reproduce the problem with your JWT token.

I am debugging it now.

Found the problem. 

In your JWT token,    your "exp", "iat" fields should NOT be string, should be integer.

                claims={"iss": "fart",      
                        "sub": "I need a weapon", 
                        "aud": "customers",
                        "exp": "{}".format(int(timestamp) + _TOKEN_LIFETIME),
                        "iat": "{}".format(timestamp), 
                })





We will make the error message more clearer.


Aha on closer inspection, RFC7519, section 4.1.4 does indeed say:

````
Its value MUST be a number containing a NumericDate value
````
Don't I feel stupid, I'll pay closer attention to the RFC's next time :)
Thank you guys so much and for getting onto this so quickly.

On a side note, I discovered another bug with my code
````
authentication:
    providers:
    - id: a-fancy-id
      issuer: fart
      jwks_uri: "https://storage.googleapis.com/public-bucket/jwk-public-key.pem" <-- Should this be a string?
      audiences: "customers"
    rules:
    - selector: endpoints.custom.package.name.gRPCService.Signout
      requirements:
      - provider_id: a-fancy-id
````

I can access the link from any browser and get the data from the URL programmatically using the python request library, however regardless of whether its a string or a url, I get the following error:

````
grpc._channel._InactiveRpcError: <_InactiveRpcError of RPC that terminated with:
        status = StatusCode.UNAUTHENTICATED
        details = "Jwks remote fetch is failed"
        debug_error_string = "{"created":"@1590054504.221608572","description":"Error received from peer ipv4:216.239.36.53:443","file":"src/core/lib/surface/call.cc","file_line":1056,"grpc_message":"Jwks remote fetch is failed","grpc_status":16}"
>
````

When looking at the google [guide](https://cloud.google.com/endpoints/docs/grpc/authenticating-users#custom) for setting up the api_config.yaml file,
Firebase seems to require a URL on its own, while Oauth requires the URL be in string format.
I've tried using both the JSON and PEM formats for the keys, both don't seem to work.

The format for each public key is the following
````
JSON
{
    "crv":"P-256",
    "kty":"EC",
    "x":"ygbPj3XrVI5XPXkV9rDjuA_yTYTLIScN-RrmdRBw4UM",
    "y":"MsuUsL9Zzre97PC3fSQgrR749epz0nti8sxqi1FQBxw"
}
PEM
-----BEGIN PUBLIC KEY-----
MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEygbPj3XrVI5XPXkV9rDjuA/yTYTL
IScN+RrmdRBw4UMyy5Swv1nOt73s8Ld9JCCtHvj16nPSe2LyzGqLUVAHHA==
-----END PUBLIC KEY-----
````
Sorry this isn't really part of the initial question, but I'd really like some help with this :)

Kind regards,

Harry.

Just FYI: in yaml, you don't need quotes around a string. Both examples read the uri as a string, so that's not the issue.

I'll take a closer look later today.

For JWKS,  we support X509 and RSA format

X509 format. There are some example [here](https://github.com/google/jwt_verify_lib/blob/master/src/test_common.h#L99)

RSA: some format [here](https://github.com/google/jwt_verify_lib/blob/master/src/verify_jwk_rsa_test.cc#L54)

FYI this is documented here: https://cloud.google.com/endpoints/docs/openapi/authenticating-users-custom